
body {
  background: #858585;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  overflow-x: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}


/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: normal;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: 42px;
  padding-bottom: 14px;
  margin-bottom: 0px;
}

h2 {
  font-size: 42px;
  line-height: 52px;
  margin-top: 20px;
}

h3 {
  font-size: 26px;
  line-height: 32px;
  padding-bottom: 6px;
}

h4 {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 6px;
}

h5 {
  color: #ffffff;
}

strong {
  color: #413547;
  font-weight: normal;
}

p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 0.2px;
}

.section-btn {
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1.6px;
  padding: 12px 36px;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

.section-btn:hover {
  background: #ffffff;
  border-color: transparent;
  color: #858585;
}

.btn-success:focus {
  background-color: #413547;
  border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.section-title {
  position: relative;
  padding-bottom: 22px;


}

#about,
#service,
#experience,
#education,
#contact {
  position: relative;
}

#home .container,
#about .container,
#experience .container,
#service .container,
#education .container,
#contact .container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#experience .experience-thumb,
#education .education-thumb {
  padding: 32px 42px 42px 42px;
}

#service,
#quotes,
footer {
  text-align: center;
}

#experience,
#education {
  background: #3f8a80;
}


.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #E3AE57;
}

.bg-yellow {
  background: #f4dba8;
}

.bg-white {
  background: #ffffff;
}

.bg-dark {
  background: #413547;
}



/*---------------------------------------
    General               
-----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #858585;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #3f8a80;
  border-top-color: #f4dba8;
  animation: spinner .6s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}



/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.custom-navbar {
  margin-bottom: 0;
  background-color: #ffffff;
}

/* .custom-navbar .navbar-brand {
  color: #413547;
  font-weight: bold;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 1px;
} */

.custom-navbar .nav li a {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #858585;
}

.custom-navbar .navbar-nav>li>a:hover,
.custom-navbar .navbar-nav>li>a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active>a {
  background-color: transparent;
  color: #413547;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #413547;
  border-color: transparent;
}

@media(min-width:768px) {
  .custom-navbar {
    padding: 12px 0;
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: #ffffff;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    padding: 0;
  }

}



/*---------------------------------------
    Home section              
-----------------------------------------*/

#home h1 {
  padding-bottom: 18px;
}

#home .col-md-6 {
  background: #3f8a80;
  padding-right: 0;
  padding-left: 0;
}

#home .home-img {
  background: url('../images/Frente\ Hostel\ II.jpg') no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

#home .home-thumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  padding: 0 45px 0 45px;
}



/*---------------------------------------
   About section              
-----------------------------------------*/

/* #about .about-img {
  background: url('../images/sinfin.png') no-repeat;
} */

#about .about-thumb,
#about .skill-thumb {
  padding: 22px 32px 32px 32px;
}

#about strong,
#about span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;
}



/*---------------------------------------
    Service section              
-----------------------------------------*/

#service {
  background: #3f8a80;
}

#service p {
  font-size: 18px;
  line-height: 30px;
}

#service .service-thumb {
  padding: 52px 52px 52px 52px;
}

#service .service-thumb .fa {
  font-size: 42px;
  padding-bottom: 22px;
}



/*---------------------------------------
    Experience section              
-----------------------------------------*/



#experience .media-heading {
  margin-bottom: 0px;
}

#experience .media .fa {
  font-size: 10px;
  margin-right: 8px;

}



/*---------------------------------------
    Contact section              
-----------------------------------------*/

#contact {
  background: #3f8a80;
}

#contact .contact-form,
#contact .contact-thumb {
  padding: 22px 32px 22px 32px;
  min-height: 75vh;
}



#contact .contact-info {
  padding-top: 0px;
  padding-bottom: 0px;
  width: 700px;
  height: 148px;
}

#contact .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1
}

#contact .form-control:-ms-input-placeholder {
  color: #ffffff
}

#contact .form-control::-webkit-input-placeholder {
  color: #ffffff
}



#contact .form-control:focus {
  border-bottom-color: #ffffff;
}





#contact .fa {
  padding-right: 10px;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding: 20px 0px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  border: 2px solid transparent;
  color: #ffffff;
  border-radius: 100px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin: 22px 4px 10px 4px;
}

.social-icon li a:hover {
  background: #111111;
  border-color: #ffffff;
  color: #ffffff;
  transform: scale(1.1);
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media only screen and (max-width: 320px) {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
    line-height: inherit;
  }

  h3 {
    font-size: 22px;
    line-height: inherit;
  }

  #home .container,
  #about .container,
  #experience .container,
  #service .container,
  #education .container,
  #contact .container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .home-img {
    background-position: 50% 50%;
    width: 245%;
    height: 100vh;
  }

  #boton-wsp {
    width: 200px;
  }

  .logoMenu {
    margin-top: -14px;
  }
}

@media only screen and (max-width: 320px) {}

#parrafo-about {
  color: #ffffff;
  margin-top: 30px;
}



.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }

  10% {
    transform: translateX(0);
    opacity: 1;
  }

  20% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(-200px);
    opacity: 0;
  }

  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}


#bienvenidos {
  font-size: x-large;
}



#imagenCarousel {
  width: 500px;
  height: 500px;

}

#acercaDe {
  background-size: cover;
}

#imagenServicios {
  width: 690px;
  height: 662px;
}

#boton-wsp {
  width: 200px;
}

#desayuno, #wifi{
  height: 268px;
}


.logoInicio{
  width: 400px;
  height: 300px;
}

.logoMenu{
  height: 50px;
  width: 100px;
  margin-top: -4px;
}
